<!DOCTYPE html>
<html>
    
    <head>
        <title>数据表格页面</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <!-- Bootstrap -->
        <link href="/ad/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/ad/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link href="/ad/assets/styles.css" rel="stylesheet" media="screen">
        <link href="/ad/assets/DT_bootstrap.css" rel="stylesheet" media="screen">
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/ad/vendors/flot/excanvas.min.js"></script><![endif]-->
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="/ad/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
		<script crossorigin src="/js/react.production.min.js"></script>
		<script crossorigin src="/js/react-dom.production.min.js"></script>
		<script crossorigin src="/js/babel.min.js"></script>
		<script src="/js/base.js" type="text/babel"></script>
		<script src="/js/movie.js" type="text/babel"></script>
        <script src="/js/room.js" type="text/babel"></script>
		<script type="text/babel">
            ReactDOM.render(
                <BaseTop/>,
                document.getElementById("top")
            )
            ReactDOM.render(
                <BaseFluid/>,
                document.getElementById("fluid")
            )
            ReactDOM.render(
                <ShowMovie/>,
                document.getElementById("showMovie")
            )
            ReactDOM.render(
                <ShowRoom/>,
                document.getElementById("showRoom")
            )
		</script>
    </head>
    
    <body>
		<div id="top"></div>
        <div class="container-fluid">
            <div class="row-fluid">
				<div id="fluid"></div>
                <div class="span10" id="content">
                    <div id="showMovie"></div>
                    <dia id="showRoom"></dia>
                </div>
            </div>
        </div>
        <!--/.fluid-container-->

        <script src="/ad/vendors/jquery-1.9.1.js"></script>
        <script src="/ad/bootstrap/js/bootstrap.min.js"></script>
        <script src="/ad/vendors/datatables/js/jquery.dataTables.min.js"></script>


        <script src="/ad/assets/scripts.js"></script>
        <!--<script src="/ad/assets/DT_bootstrap.js"></script>-->

    </body>

</html>